body, html {
    height: 80%;                                       /* To ensure the page takes the full height. */
    background-color: #011638;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    color: aquamarine;
    font-size: 42px;
    margin-top: 2em;
    margin-bottom: 2em;
}

.clock-feature-section {
    display: flex;
    justify-content: center;
    align-items: center;                                /* To center the clock in the middle of the screen. */
}

.main {
    display: flex;
    justify-content: space-between;
}

.clock {
    width: 95vw;
    max-width: 25em;
    height: 97vw;                                      /* To create a 200x200px white square for clock face. */
    max-height: 25em;
    background: white;
    border: 3px solid grey;
    border-radius: 10px;
    position: relative;                                 /* For absolute positioning of clock hands. */
    display: flex;
    justify-content: center;
    align-items: center;                                /* To center elements inside the clock. */
}

.hand {
    position: absolute;                                 /* To place the hand inside ".clock" relative to its edges. */
    bottom: 50%;                                        /* To ensure the hand starts at center-bottom. */
    left: 50%;                                          /* To move the hand to the center horizontally. */
    transform-origin: bottom center;                    /* To ensure the rotation happens from the bottom center. */
    transition: transform 0.05s linear;                 /* To makes the rotation smooth. */
}

.hour-hand {
    width: 2%;
    height: 25%;
    background: black;
    border-radius: 5px;
    z-index: 10;
}

.minute-hand {
    width: 1.5%;
    height: 35%;
    background: gray;
    border-radius: 5px;
    z-index: 5;
}

.second-hand {
    background: red;
    width: 1%;                                         /* To make the second-hand thin. */
    height: 40%;                                       /* To make the second-hand long enough to reach the clock's edge. */
    transition-timing-function: steps(60, end);         /* To make the second-hand jumps once per second like a real clock. */
    will-change: transform;                             /* To prevent second-hand appearing thinner at every minute. */
    z-index: 0;
}

.gear {
    background-color: gray;
    width: 3%;
    height: 3%;
    border-radius: 50%;
    z-index: 0;
    position: absolute;
    bottom: 48.5%;
    left: 49.5%;
}

@media only screen and (max-width: 768px) {
    
    body, html {
        height: 100%;
        overflow: scroll;
        overflow-y: scroll;
    }

    h1 {
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 0.5em;
        font-size: 32px;
    }

    .main {
        flex-direction: column;
        gap: 10px;
    }

}
