.clock {
    border:5px purple solid;
}

.dial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tick {
    position: absolute;
    font-size: 25px;
    font-weight: 700;
    color: black;
    top: 30%;
    left: 50%;
    transform-origin: bottom center;
}

.tick-1 { 
    transform: translateX(-50%) rotate(0deg) translateY(-170%);
}

.tick-2 { 
    transform: translateX(-50%) rotate(30deg) translateY(-170%);
}

.tick-2 p {
    transform-origin: center;
    transform: rotate(-30deg);
}

.tick-3 { 
    transform: translateX(-50%) rotate(60deg) translateY(-170%);
}

.tick-3 p {
    transform-origin: center;
    transform: rotate(-60deg);
}

.tick-4 { 
    transform: translateX(-50%) rotate(90deg) translateY(-160%);
}

.tick-4 p {
    transform-origin: center;
    transform: rotate(-90deg);
}

.tick-5 { 
    transform: translateX(-50%) rotate(120deg) translateY(-170%);
}

.tick-5 p {
    transform-origin: center;
    transform: rotate(-120deg);
}

.tick-6 { 
    transform: translateX(-50%) rotate(150deg) translateY(-170%);
}

.tick-6 p {
    transform-origin: center;
    transform: rotate(-150deg);
}

.tick-7 { 
    transform: translateX(-50%) rotate(180deg) translateY(-160%);
}

.tick-7 p {
    transform-origin: center;
    transform: rotate(-180deg);
}

.tick-8 { 
    transform: translateX(-50%) rotate(210deg) translateY(-170%);
}

.tick-8 p {
    transform-origin: center;
    transform: rotate(-210deg);
}

.tick-9 { 
    transform: translateX(-50%) rotate(240deg) translateY(-170%);
}

.tick-9 p {
    transform-origin: center;
    transform: rotate(-240deg);
}

.tick-10 { 
    transform: translateX(-50%) rotate(270deg) translateY(-160%);
}

.tick-10 p {
    transform-origin: center;
    transform: rotate(-270deg);
}

.tick-11 { 
    transform: translateX(-50%) rotate(300deg) translateY(-170%);
}

.tick-11 p {
    transform-origin: center;
    transform: rotate(-300deg);
}

.tick-12 { 
    transform: translateX(-50%) rotate(330deg) translateY(-170%);
}

.tick-12 p {
    transform-origin: center;
    transform: rotate(-330deg);
}