.clock {
    border-radius: 50%;
    border:5px lightslategrey solid;
}

.dial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top center;
    height: 8%;
    width: 0.3%;
    background-color: black;
}

.tick p {
    visibility: hidden;
}

.tick-1 { 
    transform: translateX(-50%) rotate(0deg) translateY(-240%);
    height: 20%;
    width: 1%;
}

.tick-2 { 
    transform: translateX(-50%) rotate(30deg) translateY(-580%);
}

.tick-3 { 
    transform: translateX(-50%) rotate(60deg) translateY(-580%);
}

.tick-4 { 
    transform: translateX(-50%) rotate(90deg) translateY(-240%);
    height: 20%;
    width: 1%;
}

.tick-5 { 
    transform: translateX(-50%) rotate(120deg) translateY(-580%);
}

.tick-6 { 
    transform: translateX(-50%) rotate(150deg) translateY(-580%);
}

.tick-7 { 
    transform: translateX(-50%) rotate(180deg) translateY(-240%);
    height: 20%;
    width: 1%;
}

.tick-8 { 
    transform: translateX(-50%) rotate(210deg) translateY(-580%);
}

.tick-9 { 
    transform: translateX(-50%) rotate(240deg) translateY(-580%);
}

.tick-10 { 
    transform: translateX(-50%) rotate(270deg) translateY(-240%);
    height: 20%;
    width: 1%;
}

.tick-11 { 
    transform: translateX(-50%) rotate(300deg) translateY(-580%);
}

.tick-12 { 
    transform: translateX(-50%) rotate(330deg) translateY(-580%);
}

@media screen and (max-width:768px) and (orientation: portrait) {
    .tick-1 { 
        transform: translateX(-50%) rotate(0deg) translateY(-240%);
        height: 20%;
        width: 1%;
    }
    
    .tick-2 { 
        transform: translateX(-50%) rotate(30deg) translateY(-590%);
    }
    
    .tick-3 { 
        transform: translateX(-50%) rotate(60deg) translateY(-570%);
    }
    
    .tick-4 { 
        transform: translateX(-50%) rotate(90deg) translateY(-225%);
        height: 20%;
        width: 1%;
    }
    
    .tick-5 { 
        transform: translateX(-50%) rotate(120deg) translateY(-570%);
    }
    
    .tick-6 { 
        transform: translateX(-50%) rotate(150deg) translateY(-575%);
    }
    
    .tick-7 { 
        transform: translateX(-50%) rotate(180deg) translateY(-240%);
        height: 20%;
        width: 1%;
    }
    
    .tick-8 { 
        transform: translateX(-50%) rotate(210deg) translateY(-580%);
    }
    
    .tick-9 { 
        transform: translateX(-50%) rotate(240deg) translateY(-570%);
    }
    
    .tick-10 { 
        transform: translateX(-50%) rotate(270deg) translateY(-225%);
        height: 20%;
        width: 1%;
    }
    
    .tick-11 { 
        transform: translateX(-50%) rotate(300deg) translateY(-570%);
    }
    
    .tick-12 { 
        transform: translateX(-50%) rotate(330deg) translateY(-580%);
    }
}

@media screen and (max-width:768px) and (orientation: landscape) {
    .tick-1 { 
        transform: translateX(-50%) rotate(0deg) translateY(-240%);
    }
    
    .tick-2 { 
        transform: translateX(-50%) rotate(30deg) translateY(-600%);
    }
    
    .tick-3 { 
        transform: translateX(-50%) rotate(60deg) translateY(-600%);
    }
    
    .tick-4 { 
        transform: translateX(-50%) rotate(90deg) translateY(-240%);
    }
    
    .tick-5 { 
        transform: translateX(-50%) rotate(120deg) translateY(-600%);
    }
    
    .tick-6 { 
        transform: translateX(-50%) rotate(150deg) translateY(-600%);
    }
    
    .tick-7 { 
        transform: translateX(-50%) rotate(180deg) translateY(-240%);
    }
    
    .tick-8 { 
        transform: translateX(-50%) rotate(210deg) translateY(-600%);
    }
    
    .tick-9 { 
        transform: translateX(-50%) rotate(240deg) translateY(-600%);
    }
    
    .tick-10 { 
        transform: translateX(-50%) rotate(270deg) translateY(-240%);
    }
    
    .tick-11 { 
        transform: translateX(-50%) rotate(300deg) translateY(-600%);
    }
    
    .tick-12 { 
        transform: translateX(-50%) rotate(330deg) translateY(-600%);
    }
}